---
import FormattedDate from '../FormattedDate.astro';
import '@navfolio/theme-default/styles/blog-article-info-card.css';

interface Props {
  date: Date;
  readingTime: string;
  tags: string[];
}

const { date, readingTime, tags } = Astro.props;
---

<aside class="article-info blog-card">
  <dl>
    <div>
      <dt>Reading time</dt>
      <dd>{readingTime}</dd>
    </div>
    <div>
      <dt>Created</dt>
      <dd><FormattedDate date={date} /></dd>
    </div>
  </dl>

  <div class="tags" aria-label="Article tags">
    {tags.map((tag) => <span>{tag}</span>)}
  </div>
</aside>
